*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-width: 450px;
    padding: 60px;
}

input{
    color: grey;
    font-size: 1.2rem;
    width: 80%;
}

.card-grid{
    /* background-color: lawngreen; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;

}

.card{
    /*background-color: red;
    */align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    border-bottom:  10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

.card p{
    padding: 5px;
    text-align: center;
}
.card img{
    max-height: 170px;
}


@media screen and (max-width:1024px){
    .card-grid{
        /* background-color: lawngreen; */
        grid-template-columns: 1fr 1fr ;
    }
}
@media screen and (max-width:768px){
    .card-grid{
        /* background-color: lawngreen; */
        grid-template-columns: 1fr ;
    }
}